*{
  margin:0px;
}

.mainDiv{
  width: 30%;
  min-height: 70vh;
  border:1px solid #e6e6e6 ;
  margin: 40px auto;
  background-color: white;
  border-radius: 10px;
  padding:15px;
  
}

.inputField{
  width: 100%;
  height: 4vh;
  margin-bottom: 13px;
  border: 1px solid #dddddd;
  border-radius: 6px;
}

.label{
  font-size: 17px;
  color:#555555;
}

.btn{
  color:white;
  background-color: #4caf50;
  height: 6vh;
  width: 100%;
  border-radius: 6px;
  border:none

}